<div class="questions">
    <div *ngFor="let question of questions; let i = index">
        <h2>Question {{ i + 1 }}</h2>
        <p>{{ question.text }}</p>
        <ul>
            <li *ngFor="let option of question.options">
                <input type="radio" [name]="'q' + i" [value]="option" (change)="selectAnswer(i, option)"> {{ option }}
            </li>
        </ul>
    </div>
    <button (click)="checkAnswers()">Submit</button>
    <div *ngIf="showResults">
        <p *ngFor="let result of results">{{ result }}</p>
    </div>
</div>
